{
  "rules": {
    "string-quotes": [2, "double"],
    "color-hex-case": [2, "upper"],
    "color-hex-length": [2, "long"],
    "color-no-hex":0,
    "color-no-invalid-hex": 2,
    "color-no-named": 2,
    "number-leading-zero": [2, "always"],
    "number-max-precision": [2, 2],
    "number-no-trailing-zeros": 2,
    "number-zero-length-no-unit": 2,
    "function-blacklist": 0,
    "function-calc-no-unspaced-operator": 2,
    "function-comma-newline-after": 0,
    "function-comma-newline-before": [2, "always"],
    "function-comma-space-after": [2, "always"],
    "function-comma-space-before": 0,
    "function-linear-gradient-no-nonstandard-direction": 2,
    "function-parentheses-newline-inside": 0,
    "function-parentheses-space-inside": [2, "never"],
    "function-space-after": [2, "always"],
    "function-url-quotes": [2, "double"],
    "function-whitelist": 0,
    "value-no-vendor-prefix": 0,
    "value-list-comma-newline-after": 0,
    "value-list-comma-newline-before": [2, "always-multi-line"],
    "unit-blacklist": 0,
    "unit-whitelist": 0,
    "property-blacklist": 0,
    "property-no-vendor-prefix": 0,
    "property-unit-blacklist": 0,
    "property-unit-whitelist": 0,
    "property-whitelist": 0,
    "custom-property-no-outside-root": 0,
    "custom-property-pattern": 0,
    "declaration-bang-space-after": [2, "never"],
    "declaration-bang-space-before": [2, "always"],
    "declaration-colon-newline-after": 0,
    "declaration-colon-space-after": [2, "always"],
    "declaration-colon-space-before": [2, "never"],
    "declaration-no-important": 0,
    "declaration-block-semicolon-newline-after": [2, "always-multi-line"],
    "declaration-block-semicolon-newline-before": [2, "never-multi-line"],
    "declaration-block-semicolon-space-after": [2, "always-single-line"],
    "declaration-block-semicolon-space-before": [2, "never"],
    "nesting-block-opening-brace-newline-before": 0,
    "nesting-block-opening-brace-space-before": 0,
    "block-closing-brace-newline-after": [2, "always"],
    "block-closing-brace-newline-before": 0,
    "block-closing-brace-space-after": 0,
    "block-closing-brace-space-before": 0,
    "block-no-empty": 2,
    "block-opening-brace-newline-after": 0,
    "block-opening-brace-newline-before": 0,
    "block-opening-brace-space-after": 0,
    "block-opening-brace-space-before": [2, "always"],
    "selector-class-pattern": 0,
    "selector-combinator-space-after": [2, "always"],
    "selector-combinator-space-before": [2, "always"],
    "selector-id-pattern": 0,
    "selector-no-attribute": 0,
    "selector-no-combinator": 0,
    "selector-no-id": 0,
    "selector-no-type": 0,
    "selector-no-universal": 0,
    "selector-no-vendor-prefix": 0,
    "selector-pseudo-element-colon-notation": [2, "double"],
    "selector-root-no-composition": 0,
    "selector-list-comma-newline-after": 0,
    "selector-list-comma-newline-before": 0,
    "selector-list-comma-space-after":  [2, "always-single-line"],
    "selector-list-comma-space-before": 0,
    "rule-nested-empty-line-before": 0,
    "rule-no-duplicate-properties": 0,
    "rule-no-shorthand-property-overrides": 0,
    "rule-no-single-line": 0,
    "rule-non-nested-empty-line-before": 0,
    "rule-properties-order": 0,
    "rule-single-line-max-declarations": 0,
    "rule-trailing-semicolon": 0,
    "root-no-standard-properties": 2,
    "media-feature-colon-space-after": 0,
    "media-feature-colon-space-before": 0,
    "media-feature-name-no-vendor-prefix": 0,
    "media-feature-range-operator-space-after": 0,
    "media-query-list-comma-space-before": 0,
    "comment-empty-line-before": 0,
    "comment-space-inside": 0,
    "indentation": [2, 2, {
      "except": ["value"]
    }],
    "max-line-length": 0,
    "max-line-length": 0,
    "no-eol-whitespace": 2,
    "no-missing-eof-newline": 2,
    "no-multiple-empty-lines": 2
  }
}
